<!DOCTYPE html>
<html lang="English">
  <head>
    <title>Online Solver MM_ES</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
    .w3-row-padding img {margin-bottom: 12px}

    .w3-sidebar {width: 120px;background: #222;}

    #main {margin-left: 120px}

    .card {
      padding: 10px;
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: darkgray;
      box-shadow: 0 0 8px 0px rgb(170 167 167);
      margin-right: auto;
      margin-left: auto;
      margin-top: 25px;
      color: black
    }

    .btn {
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: center;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: #403d39;
      color: white;
      border: 2px solid #403d39;
    }

    .btn:hover {
      background-color: chartreuse;
      color: black;
    }
    </style>
    <script type="text/javascript">
      function CrearMatriz(){
        document.getElementById('varres').innerHTML="";
        variables=document.getElementById('variables').value;
        constraints=document.getElementById('restricciones').value;
        var select = document.getElementById('metodoausar');
        var maxiomini = select.options[select.selectedIndex].value;
        console.log(maxiomini)
        let table1 = document.createElement('table');
        let thead1 = document.createElement('thead');
        let tbody1 = document.createElement('tbody');
        let table2 = document.createElement('table');
        let thead2 = document.createElement('thead');
        let tbody2 = document.createElement('tbody');

        table1.appendChild(thead1);
        table1.appendChild(tbody1);

        table2.appendChild(thead2);
        table2.appendChild(tbody2);

        let row_restricciones2= document.createElement('caption');
        let titulo2= document.createElement('h6');
        titulo2.innerHTML="FUNCIÓN OBJETIVO";
        row_restricciones2.append(titulo2);
        table2.append(row_restricciones2);

        let row_restricciones= document.createElement('caption');
        let titulo= document.createElement('h6');
        titulo.innerHTML="RESTRICCIONES";
        row_restricciones.append(titulo);
        table1.append(row_restricciones);
        let row_titles = document.createElement('tr');
        for(i=0;i<variables;i++){
          let heading = document.createElement('th');
          let espacio = document.createElement('th');
          espacio.html="";
          heading.innerHTML = " X"+String(i+1)+"";
          row_titles.append(heading);
          row_titles.append(espacio);
          row_titles.append(espacio);
        }
        for(j=0;j<constraints;j++){
          let row = document.createElement('tr');
          for(i=0;i<variables;i++){
            // // Creating and adding data to second row of the table1
            let row_data = document.createElement('td');
            let suma = document.createElement('td');
            if(i>0){
              suma.innerHTML = "+";
              row.append(suma);
            }
            let input_ = document.createElement('input');
            input_.setAttribute("size","2px;2px");
            input_.setAttribute("id",j+""+i);
            input_.name=j+""+i;
            row_data.append(input_)
            row.append(row_data);
          }
          //Create array of options to be added
          var array = ["≥","≤","="];

          //Create and append select list
          var selectList = document.createElement("select");
          selectList.name = "restricciones";

          //Create and append the options
          for (var k = 0; k < array.length; k++) {
              var option = document.createElement("option");
              option.value = k;
              option.text = array[k];
              selectList.appendChild(option);
          }
          let signos = document.createElement('td');
          signos.append(selectList);
          row.append(signos);
          let input_ = document.createElement('input');
          input_.setAttribute("size","2px;2px");
          input_.setAttribute("id","R"+j);
          input_.name="R"+j;
          row.append(input_);
          tbody1.appendChild(row);
        }
        let rowfinal = document.createElement('tr');
        for(a=0;a<=variables;a++){
          let row_data = document.createElement('td');
          let suma = document.createElement('td');
            if(a>0 && a<variables){
              suma.innerHTML = "+";
              rowfinal.append(suma);
            }
            if(a==variables){
              //Create array of options to be added
              var array = ["≥","≤","="];
              //Create and append select list
              var selectList = document.createElement("select");
              selectList.name = "objetivo";
              for (var k = 0; k < array.length; k++) {
                var option = document.createElement("option");
                option.value = k;
                option.text = array[k];
                selectList.appendChild(option);
              }
              let signos2 = document.createElement('td');
              signos2.append(selectList);
              rowfinal.append(signos2);
            }
            let input_ = document.createElement('input');
            input_.setAttribute("size","2px;2px");
            input_.setAttribute("id",j+""+i);
            input_.name=j+""+i;
            row_data.append(input_)
            rowfinal.append(row_data);
            table2.append(rowfinal);
        }
        thead1.append(row_titles);
        let formnumeros=document.createElement('form');
        formnumeros.id="matriznumeros";
        formnumeros.name="matriznumeros";
        formnumeros.append(table1);
        formnumeros.append(table2);
        let table3 = document.createElement('table');
        let thead3 = document.createElement('thead');
        let tbody3 = document.createElement('tbody');
        table3.appendChild(thead3);
        table3.appendChild(tbody3); 
        let row_signos= document.createElement('caption');
        let titulo3= document.createElement('h6');
        titulo3.innerHTML="SIGNOS ABAJO";
        row_signos.append(titulo3);
        table3.append(row_signos);
        let rowsignos=document.createElement("tr");
        for(b=0;b<variables;b++){
          let signos2 = document.createElement('td');
          var array = ["≥","≤","="];
          var selectList = document.createElement("select");
          selectList.name = "nuevas";
          for (var k = 0; k < array.length; k++) {
            var option = document.createElement("option");
            option.value = k;
            option.text = array[k];
            selectList.appendChild(option);
          }
          signos2.append(selectList);
          rowsignos.append(signos2);
        }
        table3.append(rowsignos);
        formnumeros.append(table3);

        let buttonfinal=document.createElement('button');
        buttonfinal.type="submit";
        buttonfinal.innerHTML="Solve the Problem!";
        formnumeros.appendChild(buttonfinal);
        document.getElementById('varres').appendChild(formnumeros);
      }

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).on('submit', '#rest', function (e) {
            e.preventDefault();
        });
    </script>
  </head>
  <body class="w3-black">

    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">

      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
        <em class="fa fa-calculator w3-xxlarge" style="color: chartreuse;"></em>
        <p>HOME</p>
      </a>
    </nav>

    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
      <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
      </div>
    </div>


    <div class="w3-padding-large" id="main">

      <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Calculadora</span> Solución Óptima</h1>
        <p style="color:chartreuse;">Esteban Samayoa, Marcela Melgar</p>
      </header>

        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="method">
            <h2 style="color: chartreuse;">Selecciona el Método</h2>
            <hr style="width:200px" class="w3-opacity">
            <div class="card">
                <div style="position: static;">
                    <br>
                    <form id="rest">
                      <center>
                      <h3 style="color: chartreuse;">Dual Simplex</h3>
                      </center>
                        <h4>Seleccione la  optimización a realizar:</h4>
                      <center>
                        <div class="form-group">
                          <select class="form-control" id="metodoausar">
                            <option name="maxi">Maximización</option>
                            <option name="mini">Minimización</option>
                          </select>
                        </div>
                      </center>
                      <br>
                      <div class="row">
                        <h4>Ingrese cantidad de variables:</h4>
                        <center>
                          <div class="col">
                            <input type="number" class="form-control" placeholder="Variables" id="variables" name="variables">
                          </div>
                        </center>
                          <br>
                        <h4>Ingrese cantidad de restricciones:</h4>
                        <center>
                          <div class="col">
                            <input type="number" class="form-control" placeholder="Restricciones" id="restricciones" name="restricciones">
                          </div>
                        </center>
                      </div><br>
                      <center>
                        <button class="btn" id="metodo" onclick="CrearMatriz()" type="submit">Fijar</button>
                      </center>
                    </form>
                    <br>
                </div>
            </div>
            <br>
        </div>

        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="xs">
            <h2 style="color: chartreuse;">Coeficientes y Desigualdades</h2>
            <hr style="width:200px" class="w3-opacity">
            <div class="card" id="varres">
    
            </div>
            <br>
        </div>

    </div>

  </body>
</html>